/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Bebas+Neue&family=Quicksand:wght@300;400;500;700&display=swap');
/* variables */
:root {
    --back-dark: #252525;
    --back-grey:#303030;
    --back-grey2: #444444;
    --dark-blue:#536BAA;
    --orange:#c07600;
    --green:#5a7e1f;
    --teal: #32A0C2;
    --delay: #B14343;
    --warning: #ff3c6d;
    --primary: #ddd;
    --deliveries: #2A9F98;
    --orders: #D445EC;
}

/* base styles */
* {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--primary);
    margin:0;
    
}
body {
    background-color: var(--back-dark);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4  {
    font-weight: 500;
    color: #fff;
}
    
.main-container {
    display: grid;
    grid-template-rows: 120px 1fr;
    row-gap: 0;
    text-align: left;
    
}

.nav-container{
    background-color: var(--back-dark);
    /* background-image: linear-gradient(var(--back-dark), var(--back-grey2), var(--back-grey2)); */
    box-shadow: 0px 2px 4px rgba(30, 30, 30, 0.5);
}
.sub-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 0;
    background-color: var(--back-grey);
    background-image: linear-gradient(#282828, var(--back-grey), var(--back-grey2));
    margin: 0px 100px;
    padding-top: 40px;
    min-height: 1200px;
    
}
.sub-container .body-container{
    margin: 40px 80px;
    
}
.downbar{
    background-color: rgba(25,25,25,0.8);
    height: 14px;
    font-size: 0.8em ;
    color: var(--primary);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}
/* buttons */
button, .btn {
    background: var(--back-grey2);
    color: var(--primary);
    font-size: 13px;
    border: 0;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button:hover, .btn:hover {
    background-color: var(--dark-blue);
}
.edit-btn, .edit-btn {
    background-color: rgb(21, 141, 0);
}
.sub-btn, .sub-btn {
    background-color: rgb(0, 117, 163);
}
.delete-btn, .delete-btn {
    background-color: rgb(199, 3, 3);
}


button:disabled{
    opacity: 0.5;
    color: var(--primary);
    background: var(--back-grey);
    cursor: not-allowed;
}
form {
    max-width: 400px;
    min-width: 300px;
    margin: 40px auto;
    justify-items: center;
    padding: 30px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    background: var(--back-grey2);
}
form button {
    background-color: var(--dark-blue);
}


input, textarea {
    border: 0;
    color: #333333;
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    font-weight: 500;
    font-size: 16px ;
}
.error {
    color: var(--warning);
    font-size: 14px;
    margin: 10px 0;
}

.mealImg{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(50,50,50,0.5);
  }
  
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background:var(--button2);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }

