.table-list{
    margin: 15px 0px;
    display: grid;
    grid-template-rows: auto 46px;
    font-size: 0.9em;
    justify-content: start
}

.table-list .table-page-numbers{
    display: flex;
    justify-content: center;
}
.table-list .table-page-numbers div{
    margin:0 5px;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
}
.table-list .table-page-numbers div:hover{
    color:var(--dark-blue);
}

.table-list .table-page-numbers p{
    margin:0 6px;
}
.table-list .table-buttons button{
    /* background-color: var(--back-grey); */
    background-color: #222;
    font-size: 1em;
}
.table-list .table-buttons .material-icons {
    font-size: 2.0em;
}

.table-list .table-buttons{
    display: grid;
    grid-template-columns: 100px 100px 100px 120px auto 120px;
    /* background: var(--back-grey); */
    background-color: #222;
    align-self: center;
    font-size: 0.9em;
    padding: 0 25px;

}
.table-container{
    display: grid;
    grid-template-columns: 100px 260px 100px 100px 100px 190px 50px 70px 50px;
    /* grid-template-columns: auto auto auto auto auto auto auto ; */
    row-gap: 0px;
    column-gap: 14px;
    text-align: left;
    word-wrap: break-word;
    padding: 14px;
    /* word-break: break-all; */
    background-color: var(--back-dark);
    margin:2px 0;
}
.table-list .table-header{
    
    background-color: #196080;
    font-size: 0.8em;    
    height: 20px;
    align-items: center;
}
.table-list .sub-table-list{
    justify-self:end;
    padding-right: 14px ;
    /* text-align: right; */
}